################################################################################
# Visual Studio / .NET
################################################################################
.vs/
**/bin/
**/obj/

################################################################################
# ASP.NET Core
################################################################################
**/appsettings.Development.json
**/appsettings.Local.json

################################################################################
# Node / React
################################################################################
node_modules/
dist/
.env

################################################################################
# IDEs
################################################################################
.idea/
.vscode/

################################################################################
# OS
################################################################################
.DS_Store
Thumbs.db
